* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-image: url(resources/backgroundImage.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 70vh;
    min-width: 100vh;
    width: 150vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(0.3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.nameDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.portrait {
    background-image: url(resources/portrait.png);
    background-size: cover;
    width: 18%;
    height: 38%;
    top: -12%;
    border-radius: 50%;
    border-style: solid;
    position: absolute;
}

.personName,
.jobDiv {
    background: linear-gradient(to bottom, rgba(122, 121, 121, 0.6), rgba(255, 255, 255, 0));
    width: 45%;
    height: 5rem;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rem;
}

.personName {
    left: 2%;
    top: 9%;
}

.jobDiv {
    right: 2%;
    top: 9%;
}

h1 {
    color: rgb(199, 194, 194);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
}

.tabs {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    width: 90%;
    height: 4rem;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    top: 21%;
}

.tab {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.tab:hover {
    border-style: solid;
    align-items: flex-end;
    border-color: rgba(255, 255, 255, 0.3);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 2rem;
}

.content {
    width: 100%;
    height: 60%;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    top: 35%;
}

.content h1 {
    position: absolute;
    top: 1%;
    text-shadow: 2px 2px black;
}

.content p {
    position: absolute;
    top: 22%;
    text-align: center;
    font-size: 18px;
    margin: 2%;
}

/*---------------Project Tab-----------------------*/
.project {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    background: linear-gradient(to bottom, rgba(255, 255, 255,1), rgba(255, 255, 255, 0));
    border-radius: 2rem;
}

.project h3 {
    text-align: center;
    padding: 2px;
}

.project:hover {
    border-color: rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
}

.project img {
    border-radius: 1.7rem;
}

/*---------------CV Tab-----------------------*/
.pdfShower {
    position: absolute;
    top: 0%;
}

/*---------------About Tab-----------------------*/
#aboutP {
    color: white;
    text-shadow: 1px 2px black;
}

/*---------------Contacts Tab-----------------------*/
.form-group {
    width: 350px;
    font-size: 30px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(32, 32, 34, 0.2);
    margin-top: 20px;
}

textarea{
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .03s ease background-color;
}

button[type="submit"]:hover{
    background-color:rgb(214, 226, 236)
}

#contactsDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: -5%;
}

#sideForm {
    background-color: white;
}