* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-image: url(resources/backgroundImage.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 70vh;
    min-width: 100vh;
    width: 150vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.nameDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.portrait {
    background-image: url(resources/portrait.png);
    background-size: cover;
    width: 15rem;
    height: 15rem;
    top: -12%;
    border-radius: 50%;
    border-style: solid;
    position: absolute;
}

.personName,
.jobDiv {
    background: linear-gradient(to bottom, rgba(122, 121, 121, 0.6), rgba(255, 255, 255, 0));
    width: 45%;
    height: 6rem;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rem;
}

.personName {
    left: 2%;
    top: 9%;
}

.jobDiv {
    right: 2%;
    top: 9%;
}

h1 {
    color: rgb(199, 194, 194);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
}

.tabs {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    width: 90%;
    height: 4rem;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    top: 21%;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 75%;
    border-radius: 0.5rem;
}

.tab:hover {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}

.content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    width: 80%;
    height: 60%;
    position: absolute; 
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    top: 35%;
}